Daniel/inventario.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "b1dfbf5d-73dd-31f3-8e23-fffe90aa35da",
            "instanceIdentifier" : "61e79f16-acb2-3e9a-f907-ed49f834a772",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "402bb512-085e-3117-979a-634605c0bbb5",
          "instanceIdentifier" : "1a6ffa64-02e7-3396-5f34-5313a76741cd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
            "id" : "a6eba0e0-dfb4-3a31-8909-16e3168eb6c5",
            "instanceIdentifier" : "abca8053-4cc3-375b-f85b-0acf304368be",
            "name" : "DataExport",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "337506b6-688b-3baa-b4a9-f00443b9277a",
            "instanceIdentifier" : "5059257e-2309-36b1-da2b-9c0b3c4f696a",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "ded6ae6b-e894-3733-b0fd-acd1b8c021ae",
          "instanceIdentifier" : "a4812e9b-e881-3424-40c3-32c7f0613b6b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "b1dfbf5d-73dd-31f3-8e23-fffe90aa35da",
            "instanceIdentifier" : "61e79f16-acb2-3e9a-f907-ed49f834a772",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "5d5487e5-0dd1-3305-a7a8-3fa0232c9b7b",
            "instanceIdentifier" : "4f01a03c-7af6-3ca5-05e0-9d67237f4e6a",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b5063071-d3e5-3a8e-bbae-8f1ee3ba02d7",
          "instanceIdentifier" : "1d3f2dc2-746d-3657-4d33-d06f1efe16f3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "c6003ee4-5f37-3a34-8b94-820656a51f1a",
            "instanceIdentifier" : "a201a2dd-c2c0-3b20-dd1f-ea2148ae922f",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "06fb69a6-963c-3386-8e97-1eed3f38a8f1",
            "instanceIdentifier" : "9ef39b9d-cefb-30c1-5191-702a56406cd1",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "476aa3a6-6cb5-3215-800d-d80f3854fe55",
          "instanceIdentifier" : "d61a0bbe-5d91-38f6-0227-491377dd1787",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "cantidad" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "fa116fef-1399-3925-913f-c71b1bd9f0d0",
            "instanceIdentifier" : "871950c6-7162-3f6d-50f3-fb095043e755",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "ca58721e-b053-370e-882c-4318293b7ecf",
            "instanceIdentifier" : "bcf727c8-bd49-3a33-0312-5d9c51e724e9",
            "name" : "PublishAMQP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "aa402ff9-89ad-34c2-8966-9c2b309219e8",
          "instanceIdentifier" : "9930c2b2-6139-3e6a-fbb7-5d0cbbb5c042",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "0e2e1234-19ae-35a1-85da-10ad7bbf66ac",
            "instanceIdentifier" : "3cc9fbdc-5d31-3dea-a0d1-1569d0ee0f40",
            "name" : "PublishGCPubSub",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "c6003ee4-5f37-3a34-8b94-820656a51f1a",
            "instanceIdentifier" : "a201a2dd-c2c0-3b20-dd1f-ea2148ae922f",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b5a9e187-3c43-332d-ab36-38d839973d1e",
          "instanceIdentifier" : "736cbd7a-6cc4-32c5-1e55-3e44bc917a06",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "7beb4583-e557-386f-a562-0e12446760b1",
            "instanceIdentifier" : "b532c1e0-bf3e-3bfe-0b0e-a15512eaab73",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "b8bfb686-2b31-3ff4-8852-62070694531b",
            "instanceIdentifier" : "cd390613-8202-3451-629a-fefb6a644ecc",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "98273cac-d4fa-34d6-b49d-001fe4830c17",
          "instanceIdentifier" : "1f559a4a-54a6-31e3-0627-3a6e80023802",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "ca58721e-b053-370e-882c-4318293b7ecf",
            "instanceIdentifier" : "bcf727c8-bd49-3a33-0312-5d9c51e724e9",
            "name" : "PublishAMQP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "77d39681-c655-33cb-8017-dabdfedd3018",
            "instanceIdentifier" : "9606876c-0451-3ad8-3e57-44a078ab98d1",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "3138581f-79f6-3927-8dbd-b2cdd40471f8",
          "instanceIdentifier" : "3a440127-d283-3f7f-b95e-d6630e8f41f8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "fa116fef-1399-3925-913f-c71b1bd9f0d0",
            "instanceIdentifier" : "871950c6-7162-3f6d-50f3-fb095043e755",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "581643a9-4f89-3dff-9d73-9ce0f17c737f",
            "instanceIdentifier" : "e130af42-22fc-3d19-9654-0275eba6d5f1",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "453ebc84-ca0c-34da-8eb9-92d08c70fe23",
          "instanceIdentifier" : "574ae074-64a1-326f-bc00-30042c09c3d4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "c6003ee4-5f37-3a34-8b94-820656a51f1a",
            "instanceIdentifier" : "a201a2dd-c2c0-3b20-dd1f-ea2148ae922f",
            "name" : "PublishKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "id" : "5f637e23-154e-3690-893f-f33971398f38",
            "instanceIdentifier" : "a54835bb-d899-3664-4511-537d92901867",
            "name" : "DataImport",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "2a76c3e9-459b-34f3-a72d-875fb786e4c6",
          "instanceIdentifier" : "3b316317-f584-3453-c004-6725e57306c1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "6b0b215e-f753-3276-bd7b-95f27262a126",
            "instanceIdentifier" : "20b10797-14a9-33f6-39db-39a892c3d7e3",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
            "id" : "29dd1db3-c05a-3af1-904b-0b6fbd996d61",
            "instanceIdentifier" : "6502146e-fb33-37dc-4957-f1e5ea32bc42",
            "name" : "DataImport",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "1183d652-fbe2-3884-861d-ba379c3e6b74",
          "instanceIdentifier" : "171b84c8-f257-351b-acfa-0ad617fb82ac",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "id" : "084ccf1c-9fc6-336e-9cdb-141332ccc436",
            "instanceIdentifier" : "82f72dd2-71e8-3386-87a8-f9ed5c4f7e53",
            "name" : "DataExport",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "009036e5-d563-3f25-979f-afe587df9f72",
            "instanceIdentifier" : "95ac4882-3d50-3126-80af-09494249978c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b6fa8358-ab77-3269-8ef9-45798fd5694d",
          "instanceIdentifier" : "b4b5b641-8e15-3d97-82bb-89564cdeebf5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "6b0b215e-f753-3276-bd7b-95f27262a126",
            "instanceIdentifier" : "20b10797-14a9-33f6-39db-39a892c3d7e3",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "fa116fef-1399-3925-913f-c71b1bd9f0d0",
            "instanceIdentifier" : "871950c6-7162-3f6d-50f3-fb095043e755",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "7a5134d5-d603-3005-a1f1-019dce7ffe73",
          "instanceIdentifier" : "e6cd270f-8420-36f9-0640-aeea10b3800b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "6b0b215e-f753-3276-bd7b-95f27262a126",
            "instanceIdentifier" : "20b10797-14a9-33f6-39db-39a892c3d7e3",
            "name" : "ConsumeKafka_2_6",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "0f682880-e7ba-3e64-9811-780bbda91702",
            "instanceIdentifier" : "9974013c-263c-316a-6b3a-7f69efcf95d1",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "a02e6ec2-993c-3b1f-82e5-2579bcea1578",
          "instanceIdentifier" : "07032c0b-d37c-3eda-d95c-638726814251",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "ca58721e-b053-370e-882c-4318293b7ecf",
            "instanceIdentifier" : "bcf727c8-bd49-3a33-0312-5d9c51e724e9",
            "name" : "PublishAMQP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "deeaed65-484f-3363-b615-083b5d1751e4",
            "instanceIdentifier" : "e76d79d2-d321-39a3-d614-d20f60894f5a",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "72afcd97-51a9-30e7-a175-35896f10a491",
          "instanceIdentifier" : "b0059f14-c612-3d15-9f75-89f44dec310a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "0e2e1234-19ae-35a1-85da-10ad7bbf66ac",
            "instanceIdentifier" : "3cc9fbdc-5d31-3dea-a0d1-1569d0ee0f40",
            "name" : "PublishGCPubSub",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "7bb0b08a-6bab-355e-9bb9-e0c619a00339",
            "instanceIdentifier" : "69af9fd2-06a1-380a-acd3-319643d0ae53",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b0a7b1b2-c31b-3876-a192-06ec7387c5eb",
          "instanceIdentifier" : "edb4e3d1-c99c-3fd8-6b17-b92e1da30cad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
            "id" : "a6eba0e0-dfb4-3a31-8909-16e3168eb6c5",
            "instanceIdentifier" : "abca8053-4cc3-375b-f85b-0acf304368be",
            "name" : "DataExport",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "ff783e85-9084-3754-bc45-c4ea0071958b",
            "instanceIdentifier" : "d31cbf5a-9a3b-3453-b507-33b3df977248",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "0d8ec6ea-7f39-3c37-856d-82f4a364a3ef",
          "instanceIdentifier" : "0586175a-125e-3292-f572-76acd9807f88",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "id" : "084ccf1c-9fc6-336e-9cdb-141332ccc436",
            "instanceIdentifier" : "82f72dd2-71e8-3386-87a8-f9ed5c4f7e53",
            "name" : "DataExport",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "0e2e1234-19ae-35a1-85da-10ad7bbf66ac",
            "instanceIdentifier" : "3cc9fbdc-5d31-3dea-a0d1-1569d0ee0f40",
            "name" : "PublishGCPubSub",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "c1ca219b-28c2-3ac2-beb9-8f6290a2801b",
          "instanceIdentifier" : "73f2a4cb-f08b-3492-aa56-bd96f4427cd5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
            "id" : "b1dfbf5d-73dd-31f3-8e23-fffe90aa35da",
            "instanceIdentifier" : "61e79f16-acb2-3e9a-f907-ed49f834a772",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-gcp-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-gcp-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "type" : "org.apache.nifi.gcp.credentials.service.GCPCredentialsService"
          } ],
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "c706a387-616f-38e0-b5e9-ed62225d88b4",
          "instanceIdentifier" : "8725e72d-aed9-355b-ae93-ca271dab547c",
          "name" : "GCPCredentialsControllerService",
          "properties" : {
            "compute-engine-credentials" : "false",
            "application-default-credentials" : "false"
          },
          "propertyDescriptors" : {
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "compute-engine-credentials" : {
              "displayName" : "Use Compute Engine Credentials",
              "identifiesControllerService" : false,
              "name" : "compute-engine-credentials",
              "sensitive" : false
            },
            "application-default-credentials" : {
              "displayName" : "Use Application Default Credentials",
              "identifiesControllerService" : false,
              "name" : "application-default-credentials",
              "sensitive" : false
            },
            "service-account-json-file" : {
              "displayName" : "Service Account JSON File",
              "identifiesControllerService" : false,
              "name" : "service-account-json-file",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "service-account-json" : {
              "displayName" : "Service Account JSON",
              "identifiesControllerService" : false,
              "name" : "service-account-json",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
        "inputPorts" : [ ],
        "instanceIdentifier" : "9aff886a-0184-1000-6d43-5b74b722da83",
        "labels" : [ ],
        "name" : "inventario",
        "outputPorts" : [ ],
        "position" : {
          "x" : 512.0,
          "y" : 198.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "53c7e265-481a-3a10-84dd-9f50ffe8c896",
              "instanceIdentifier" : "7ad50af6-13a0-37cd-1e4a-7bbc9b6b2272",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "49396cb9-d8ef-3e19-9fca-70c85e0d52a9",
            "instanceIdentifier" : "bd0e5f5d-d89f-344f-92cf-3953ea4da00e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "da642b5a-63b8-3ad1-9ddc-df4a5e6c9cb1",
              "instanceIdentifier" : "77f2d372-240c-3b78-74b1-463b1d0b0754",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4f457b3b-6a8d-323f-92bf-5575d8345689",
              "instanceIdentifier" : "35359d81-1ba3-3165-40ea-2a18742feef8",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "035e16bb-11dc-3925-a6f7-dfacc5f78383",
            "instanceIdentifier" : "7669ee7e-51f4-3493-8de4-3a3c760c2b41",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "b5254cff-8e9e-39a6-b084-5241386b1b8a",
              "instanceIdentifier" : "5be300ca-ebd4-32c4-a7a0-dafc88b5f252",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "52238c8a-1419-30f5-beb7-1968d11a33c1",
              "instanceIdentifier" : "60fa05a9-8760-37ac-1b38-ff4574b45ab5",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "9e20f3e0-a1ca-3c25-ae7a-902afb81da92",
            "instanceIdentifier" : "eae1b2a8-74df-339d-0915-37a55b980453",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "8befff4d-1488-3af6-9467-c580bef0ade1",
              "instanceIdentifier" : "13390abb-3aa6-3566-7a6c-c9f7e035e873",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "2e0647eb-edfb-3463-b097-18a22541e1ff",
              "instanceIdentifier" : "ca809b07-7e5e-3ec3-f0bf-12f84c567914",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "a1da6078-bfd2-3386-83c1-7ae7edfeb560",
            "instanceIdentifier" : "b0a2bfa0-f272-3c9f-44c7-4d3c535042f9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4d4eda52-6b63-3955-a973-d677d6ff01e4",
              "instanceIdentifier" : "42deeec6-f243-3590-4c32-4f0eb07360f9",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "315a59c1-7f89-3b54-9360-8d8938731822",
              "instanceIdentifier" : "af10567e-669c-33db-73f0-716da315160a",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "4e8ca969-6868-3d01-be70-8a336f0c1da8",
            "instanceIdentifier" : "b3308131-d8bd-3a2c-b433-9c53594eee03",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "b5254cff-8e9e-39a6-b084-5241386b1b8a",
              "instanceIdentifier" : "5be300ca-ebd4-32c4-a7a0-dafc88b5f252",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "31352f1c-8ffb-34a9-a9a6-e307d081b4ce",
              "instanceIdentifier" : "3b12a6e4-a27d-3d0d-1418-83f276a00c6e",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "f36d5271-4395-3774-a4a9-dbb0459e8df5",
            "instanceIdentifier" : "7b1255c1-cb27-3513-2b66-0ef5555733b4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "239aab1a-0e29-3651-b373-f6252226fd28",
              "instanceIdentifier" : "58d9a56d-1ba0-3ee8-244a-98a477ca8145",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "239aab1a-0e29-3651-b373-f6252226fd28",
              "instanceIdentifier" : "58d9a56d-1ba0-3ee8-244a-98a477ca8145",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "37c89a2b-44b6-3d47-916e-74b7000f90db",
            "instanceIdentifier" : "f2af3c90-5416-33dd-d9d5-a2a9258b5858",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "cantidad" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4f457b3b-6a8d-323f-92bf-5575d8345689",
              "instanceIdentifier" : "35359d81-1ba3-3165-40ea-2a18742feef8",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "a60527ac-af06-311e-a4f1-600701b45309",
              "instanceIdentifier" : "13d5b153-bcd9-3eeb-3d2b-15291a52be8f",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "6e8ff408-a813-3c22-8b75-ba60ffb42b26",
            "instanceIdentifier" : "140d245e-f58b-3f86-df7f-24bea35769d7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "8befff4d-1488-3af6-9467-c580bef0ade1",
              "instanceIdentifier" : "13390abb-3aa6-3566-7a6c-c9f7e035e873",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "216af80e-c442-3808-a635-2748c790b748",
              "instanceIdentifier" : "329fe04c-31b5-3a8a-9874-75887e543ea6",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "7af95793-8daf-397d-83e1-9f7ed81b6ea5",
            "instanceIdentifier" : "94b75bd8-c3a7-3170-5e22-bef5f2d5351e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "original" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "239aab1a-0e29-3651-b373-f6252226fd28",
              "instanceIdentifier" : "58d9a56d-1ba0-3ee8-244a-98a477ca8145",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "432ad63b-de46-33a9-8e15-0be4ae8a3216",
              "instanceIdentifier" : "8824d306-5efd-3a54-154d-8838128832a7",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "5190c489-c121-3e1a-a7a8-9b70283b7c00",
            "instanceIdentifier" : "49fb34c5-8b18-37fb-7c40-a624bc803b27",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4f457b3b-6a8d-323f-92bf-5575d8345689",
              "instanceIdentifier" : "35359d81-1ba3-3165-40ea-2a18742feef8",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "56f1440b-75a1-30c4-a82f-12f6832a8dbd",
              "instanceIdentifier" : "f18f9039-5f53-3360-e5cd-7bc77e2ec039",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "3308988f-52a5-36d9-b8aa-4ab733454f95",
            "instanceIdentifier" : "b3600260-1d8f-330f-1f92-2df27c419b44",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "da642b5a-63b8-3ad1-9ddc-df4a5e6c9cb1",
              "instanceIdentifier" : "77f2d372-240c-3b78-74b1-463b1d0b0754",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "f2f08b98-7f4d-33c0-933d-f4c8c8421423",
              "instanceIdentifier" : "df104c1e-b7b2-341d-97dd-26bfe996a112",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "bfb3e828-26da-3713-b857-a203f7f12566",
            "instanceIdentifier" : "80841c23-a14c-31da-2c40-04977161915f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "original" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4d4eda52-6b63-3955-a973-d677d6ff01e4",
              "instanceIdentifier" : "42deeec6-f243-3590-4c32-4f0eb07360f9",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "084ccf1c-9fc6-336e-9cdb-141332ccc436",
              "instanceIdentifier" : "82f72dd2-71e8-3386-87a8-f9ed5c4f7e53",
              "name" : "DataExport",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "8055199f-fd41-3619-abb3-8b7af7be48cd",
            "instanceIdentifier" : "e52959d2-583e-3790-80ca-d608cca90f55",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "239aab1a-0e29-3651-b373-f6252226fd28",
              "instanceIdentifier" : "58d9a56d-1ba0-3ee8-244a-98a477ca8145",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4d4eda52-6b63-3955-a973-d677d6ff01e4",
              "instanceIdentifier" : "42deeec6-f243-3590-4c32-4f0eb07360f9",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "43080b1a-f6e6-3cfa-828d-bd5adc031579",
            "instanceIdentifier" : "6e2fe759-5fbd-34a1-2870-3df843b84c83",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "8befff4d-1488-3af6-9467-c580bef0ade1",
              "instanceIdentifier" : "13390abb-3aa6-3566-7a6c-c9f7e035e873",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "cb3f26c5-d258-3deb-959a-9ad2f162a92c",
              "instanceIdentifier" : "f06a8380-872e-34b0-8abe-b612c9f50978",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "1a043f72-58fb-3c7c-a976-2e46654b4f55",
            "instanceIdentifier" : "968068f4-1ab6-38bb-8c88-c1b3db67f913",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "b5254cff-8e9e-39a6-b084-5241386b1b8a",
              "instanceIdentifier" : "5be300ca-ebd4-32c4-a7a0-dafc88b5f252",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "b5254cff-8e9e-39a6-b084-5241386b1b8a",
              "instanceIdentifier" : "5be300ca-ebd4-32c4-a7a0-dafc88b5f252",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "d57311ed-f6c5-308e-a862-d4078d46ffed",
            "instanceIdentifier" : "eed8a880-edfc-3c3c-fcac-09e11cb73798",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4d4eda52-6b63-3955-a973-d677d6ff01e4",
              "instanceIdentifier" : "42deeec6-f243-3590-4c32-4f0eb07360f9",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "da642b5a-63b8-3ad1-9ddc-df4a5e6c9cb1",
              "instanceIdentifier" : "77f2d372-240c-3b78-74b1-463b1d0b0754",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "ec708967-eae8-3706-92c1-bab020ef21c6",
            "instanceIdentifier" : "472a5ce7-446b-3539-a2a1-b31f8a091594",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "5f637e23-154e-3690-893f-f33971398f38",
              "instanceIdentifier" : "a54835bb-d899-3664-4511-537d92901867",
              "name" : "DataImport",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "8befff4d-1488-3af6-9467-c580bef0ade1",
              "instanceIdentifier" : "13390abb-3aa6-3566-7a6c-c9f7e035e873",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "02e27bb3-30da-3cb0-a683-eebe3c29eea5",
            "instanceIdentifier" : "82b7e270-124b-3316-5f9a-249e0b2ac402",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "da642b5a-63b8-3ad1-9ddc-df4a5e6c9cb1",
              "instanceIdentifier" : "77f2d372-240c-3b78-74b1-463b1d0b0754",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "fd40bd5d-6f9e-3ad5-83ca-c54764df8f82",
              "instanceIdentifier" : "4d13c84f-9cb4-3c9f-3fca-e151051841b1",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "67186381-5da5-3306-b9ea-380a7568d752",
            "instanceIdentifier" : "ec4bb63a-75cf-3e81-24cf-841a72264e53",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "cantidad" ],
            "source" : {
              "comments" : "",
              "groupId" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
              "id" : "4f457b3b-6a8d-323f-92bf-5575d8345689",
              "instanceIdentifier" : "35359d81-1ba3-3165-40ea-2a18742feef8",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "5f637e23-154e-3690-893f-f33971398f38",
            "instanceIdentifier" : "a54835bb-d899-3664-4511-537d92901867",
            "name" : "DataImport",
            "position" : {
              "x" : -1056.0,
              "y" : -24.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "ebade0a4-1f91-3347-7dc2-f453a994f02a",
          "labels" : [ ],
          "name" : "FilterParameterDependence",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "084ccf1c-9fc6-336e-9cdb-141332ccc436",
            "instanceIdentifier" : "82f72dd2-71e8-3386-87a8-f9ed5c4f7e53",
            "name" : "DataExport",
            "position" : {
              "x" : 1616.0,
              "y" : 264.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2798.0,
            "y" : 985.9999887188117
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "216af80e-c442-3808-a635-2748c790b748",
            "instanceIdentifier" : "329fe04c-31b5-3a8a-9874-75887e543ea6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : 8.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "53c7e265-481a-3a10-84dd-9f50ffe8c896",
            "instanceIdentifier" : "7ad50af6-13a0-37cd-1e4a-7bbc9b6b2272",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -208.0,
              "y" : -344.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "cb3f26c5-d258-3deb-959a-9ad2f162a92c",
            "instanceIdentifier" : "f06a8380-872e-34b0-8abe-b612c9f50978",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 471.0641634143615,
              "y" : 14.152147330986395
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "4f457b3b-6a8d-323f-92bf-5575d8345689",
            "instanceIdentifier" : "35359d81-1ba3-3165-40ea-2a18742feef8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 168.0,
              "y" : 520.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "cantidad" : "${data:jsonPath('$.cantidad'):gt(0)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "cantidad" : {
                "displayName" : "cantidad",
                "identifiesControllerService" : false,
                "name" : "cantidad",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "da642b5a-63b8-3ad1-9ddc-df4a5e6c9cb1",
            "instanceIdentifier" : "77f2d372-240c-3b78-74b1-463b1d0b0754",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -504.9358365856385,
              "y" : -65.8478526690136
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "json",
              "header" : "$.header",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "header" : {
                "displayName" : "header",
                "identifiesControllerService" : false,
                "name" : "header",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "4d4eda52-6b63-3955-a973-d677d6ff01e4",
            "instanceIdentifier" : "42deeec6-f243-3590-4c32-4f0eb07360f9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -456.0,
              "y" : 192.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.*"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "2e0647eb-edfb-3463-b097-18a22541e1ff",
            "instanceIdentifier" : "ca809b07-7e5e-3ec3-f0bf-12f84c567914",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1072.9358365856385,
              "y" : 558.1521473309864
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "56f1440b-75a1-30c4-a82f-12f6832a8dbd",
            "instanceIdentifier" : "f18f9039-5f53-3360-e5cd-7bc77e2ec039",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -808.0,
              "y" : -344.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "a60527ac-af06-311e-a4f1-600701b45309",
            "instanceIdentifier" : "13d5b153-bcd9-3eeb-3d2b-15291a52be8f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1768.0,
              "y" : 48.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "52238c8a-1419-30f5-beb7-1968d11a33c1",
            "instanceIdentifier" : "60fa05a9-8760-37ac-1b38-ff4574b45ab5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1840.0,
              "y" : 288.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "432ad63b-de46-33a9-8e15-0be4ae8a3216",
            "instanceIdentifier" : "8824d306-5efd-3a54-154d-8838128832a7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 856.0,
              "y" : 472.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "f2f08b98-7f4d-33c0-933d-f4c8c8421423",
            "instanceIdentifier" : "df104c1e-b7b2-341d-97dd-26bfe996a112",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -504.9358365856385,
              "y" : 558.1521473309864
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "b5254cff-8e9e-39a6-b084-5241386b1b8a",
            "instanceIdentifier" : "5be300ca-ebd4-32c4-a7a0-dafc88b5f252",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 176.0,
              "y" : 256.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "data" : "$",
              "Return Type" : "json",
              "Null Value Representation" : "empty string",
              "codigDepend" : "$.dependencia",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "data" : {
                "displayName" : "data",
                "identifiesControllerService" : false,
                "name" : "data",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "codigDepend" : {
                "displayName" : "codigDepend",
                "identifiesControllerService" : false,
                "name" : "codigDepend",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "315a59c1-7f89-3b54-9360-8d8938731822",
            "instanceIdentifier" : "af10567e-669c-33db-73f0-716da315160a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -88.93583658563853,
              "y" : 22.152147330986395
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-mongodb-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "239aab1a-0e29-3651-b373-f6252226fd28",
            "instanceIdentifier" : "58d9a56d-1ba0-3ee8-244a-98a477ca8145",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetMongo",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 903.0641634143615,
              "y" : 222.1521473309864
            },
            "properties" : {
              "mongo-charset" : "UTF-8",
              "Query" : "{\"codigoDepend\": \"${data:jsonPath('$.dependencia')}\",\"omnicanal\":\"S\" }",
              "ssl-client-auth" : "REQUIRED",
              "mongo-date-format" : "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "json-type" : "Extended",
              "Mongo Database Name" : "Maestras",
              "Mongo URI" : "mongodb+srv://intQA:4G9LJD8PmEFtNjYk@intqa-nwscn.azure.mongodb.net/?maxPoolSize=20&maxIdleTimeMS=1000&appName=nifi-test",
              "Mongo Collection Name" : "NovedadesDependencias",
              "use-pretty-printing" : "true",
              "get-mongo-send-empty" : "false"
            },
            "propertyDescriptors" : {
              "mongo-client-service" : {
                "displayName" : "Client Service",
                "identifiesControllerService" : true,
                "name" : "mongo-client-service",
                "sensitive" : false
              },
              "mongo-charset" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "mongo-charset",
                "sensitive" : false
              },
              "ssl-context-service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "ssl-context-service",
                "sensitive" : false
              },
              "Query" : {
                "displayName" : "Query",
                "identifiesControllerService" : false,
                "name" : "Query",
                "sensitive" : false
              },
              "ssl-client-auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "ssl-client-auth",
                "sensitive" : false
              },
              "mongo-date-format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "mongo-date-format",
                "sensitive" : false
              },
              "json-type" : {
                "displayName" : "JSON Type",
                "identifiesControllerService" : false,
                "name" : "json-type",
                "sensitive" : false
              },
              "Projection" : {
                "displayName" : "Projection",
                "identifiesControllerService" : false,
                "name" : "Projection",
                "sensitive" : false
              },
              "Mongo Database Name" : {
                "displayName" : "Mongo Database Name",
                "identifiesControllerService" : false,
                "name" : "Mongo Database Name",
                "sensitive" : false
              },
              "mongo-query-attribute" : {
                "displayName" : "Query Output Attribute",
                "identifiesControllerService" : false,
                "name" : "mongo-query-attribute",
                "sensitive" : false
              },
              "results-per-flowfile" : {
                "displayName" : "Results Per FlowFile",
                "identifiesControllerService" : false,
                "name" : "results-per-flowfile",
                "sensitive" : false
              },
              "Mongo URI" : {
                "displayName" : "Mongo URI",
                "identifiesControllerService" : false,
                "name" : "Mongo URI",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Mongo Collection Name" : {
                "displayName" : "Mongo Collection Name",
                "identifiesControllerService" : false,
                "name" : "Mongo Collection Name",
                "sensitive" : false
              },
              "Sort" : {
                "displayName" : "Sort",
                "identifiesControllerService" : false,
                "name" : "Sort",
                "sensitive" : false
              },
              "use-pretty-printing" : {
                "displayName" : "Pretty Print Results JSON",
                "identifiesControllerService" : false,
                "name" : "use-pretty-printing",
                "sensitive" : false
              },
              "Limit" : {
                "displayName" : "Limit",
                "identifiesControllerService" : false,
                "name" : "Limit",
                "sensitive" : false
              },
              "get-mongo-send-empty" : {
                "displayName" : "Send Empty Result",
                "identifiesControllerService" : false,
                "name" : "get-mongo-send-empty",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.mongodb.GetMongo",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "fd40bd5d-6f9e-3ad5-83ca-c54764df8f82",
            "instanceIdentifier" : "4d13c84f-9cb4-3c9f-3fca-e151051841b1",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 760.0,
              "y" : 696.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "8befff4d-1488-3af6-9467-c580bef0ade1",
            "instanceIdentifier" : "13390abb-3aa6-3566-7a6c-c9f7e035e873",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1072.0,
              "y" : 184.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "data" : "$.data",
              "Return Type" : "json",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "data" : {
                "displayName" : "data",
                "identifiesControllerService" : false,
                "name" : "data",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "53b6fe22-cdaf-3cfa-a6c3-78e5613a1322",
            "identifier" : "31352f1c-8ffb-34a9-a9a6-e307d081b4ce",
            "instanceIdentifier" : "3b12a6e4-a27d-3d0d-1418-83f276a00c6e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 911.0641634143615,
              "y" : 6.152147330986395
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "a6eba0e0-dfb4-3a31-8909-16e3168eb6c5",
              "instanceIdentifier" : "abca8053-4cc3-375b-f85b-0acf304368be",
              "name" : "DataExport",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "9118ae11-d1d0-36ce-a6ea-90a576b8f4a3",
            "instanceIdentifier" : "ac5117e2-eedd-395d-0152-443d8e7fda37",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "2ec91978-2476-3036-a3f8-1561ae512e98",
              "instanceIdentifier" : "0b7a0a9b-7543-33c5-a21a-31e56712eb6d",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "1eff5c06-80d9-39be-a7cd-0ed166660037",
              "instanceIdentifier" : "f62fd928-d79a-34da-c1c9-910e4edf4b19",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "14bea4fb-52c7-3a2b-85b3-c22177ad90c4",
            "instanceIdentifier" : "7fa16896-24f8-3847-806d-7f0d77a85ea2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "2ec91978-2476-3036-a3f8-1561ae512e98",
              "instanceIdentifier" : "0b7a0a9b-7543-33c5-a21a-31e56712eb6d",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "2ec91978-2476-3036-a3f8-1561ae512e98",
              "instanceIdentifier" : "0b7a0a9b-7543-33c5-a21a-31e56712eb6d",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "9d77de7d-64fc-36c1-ba3b-cf228ff70d20",
            "instanceIdentifier" : "b1b092fd-16f1-3dcf-e417-6bc365c7629e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "29dd1db3-c05a-3af1-904b-0b6fbd996d61",
              "instanceIdentifier" : "6502146e-fb33-37dc-4957-f1e5ea32bc42",
              "name" : "DataImport",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "ad9b133f-fafa-3d60-9633-da0ef6f43854",
              "instanceIdentifier" : "ebb0f708-be4b-3208-d14b-8a47cf6267d5",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "df452b0f-fac5-3880-8a51-b142fdd17b62",
            "instanceIdentifier" : "ee225653-d6e6-309d-be6d-2f31b098a2ae",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "original" ],
            "source" : {
              "comments" : "",
              "groupId" : "114c28a5-04e9-374e-a944-c6642429352e",
              "id" : "2ec91978-2476-3036-a3f8-1561ae512e98",
              "instanceIdentifier" : "0b7a0a9b-7543-33c5-a21a-31e56712eb6d",
              "name" : "GetMongo",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "114c28a5-04e9-374e-a944-c6642429352e",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "29dd1db3-c05a-3af1-904b-0b6fbd996d61",
            "instanceIdentifier" : "6502146e-fb33-37dc-4957-f1e5ea32bc42",
            "name" : "DataImport",
            "position" : {
              "x" : 376.0,
              "y" : 48.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "c137995f-d829-3e81-c601-e930bc7832c4",
          "labels" : [ ],
          "name" : "ValidateItemOmnichannel",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "a6eba0e0-dfb4-3a31-8909-16e3168eb6c5",
            "instanceIdentifier" : "abca8053-4cc3-375b-f85b-0acf304368be",
            "name" : "DataExport",
            "position" : {
              "x" : 1616.0,
              "y" : 264.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2803.9999353348403,
            "y" : 643.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "1eff5c06-80d9-39be-a7cd-0ed166660037",
            "instanceIdentifier" : "f62fd928-d79a-34da-c1c9-910e4edf4b19",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 911.0641634143615,
              "y" : 6.152147330986395
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-mongodb-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "2ec91978-2476-3036-a3f8-1561ae512e98",
            "instanceIdentifier" : "0b7a0a9b-7543-33c5-a21a-31e56712eb6d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetMongo",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 903.0641634143615,
              "y" : 222.1521473309864
            },
            "properties" : {
              "mongo-charset" : "UTF-8",
              "Query" : "{\"plu\": ${data:jsonPath('$.producto')},\"isOmnichannelItem\":true }",
              "ssl-client-auth" : "REQUIRED",
              "mongo-date-format" : "yyyy-MM-dd'T'HH:mm:ss'Z'",
              "json-type" : "Extended",
              "Mongo Database Name" : "integration",
              "Mongo URI" : "mongodb+srv://pim-developer-sofka:5dNUnF5TyyuwfW1a@qa.fjikl.azure.mongodb.net/?maxPoolSize=20&maxIdleTimeMS=1000&appName=nifi-test",
              "Mongo Collection Name" : "productEcommerceData",
              "use-pretty-printing" : "true",
              "get-mongo-send-empty" : "false"
            },
            "propertyDescriptors" : {
              "mongo-client-service" : {
                "displayName" : "Client Service",
                "identifiesControllerService" : true,
                "name" : "mongo-client-service",
                "sensitive" : false
              },
              "mongo-charset" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "mongo-charset",
                "sensitive" : false
              },
              "ssl-context-service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "ssl-context-service",
                "sensitive" : false
              },
              "Query" : {
                "displayName" : "Query",
                "identifiesControllerService" : false,
                "name" : "Query",
                "sensitive" : false
              },
              "ssl-client-auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "ssl-client-auth",
                "sensitive" : false
              },
              "mongo-date-format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "mongo-date-format",
                "sensitive" : false
              },
              "json-type" : {
                "displayName" : "JSON Type",
                "identifiesControllerService" : false,
                "name" : "json-type",
                "sensitive" : false
              },
              "Projection" : {
                "displayName" : "Projection",
                "identifiesControllerService" : false,
                "name" : "Projection",
                "sensitive" : false
              },
              "Mongo Database Name" : {
                "displayName" : "Mongo Database Name",
                "identifiesControllerService" : false,
                "name" : "Mongo Database Name",
                "sensitive" : false
              },
              "mongo-query-attribute" : {
                "displayName" : "Query Output Attribute",
                "identifiesControllerService" : false,
                "name" : "mongo-query-attribute",
                "sensitive" : false
              },
              "results-per-flowfile" : {
                "displayName" : "Results Per FlowFile",
                "identifiesControllerService" : false,
                "name" : "results-per-flowfile",
                "sensitive" : false
              },
              "Mongo URI" : {
                "displayName" : "Mongo URI",
                "identifiesControllerService" : false,
                "name" : "Mongo URI",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Mongo Collection Name" : {
                "displayName" : "Mongo Collection Name",
                "identifiesControllerService" : false,
                "name" : "Mongo Collection Name",
                "sensitive" : false
              },
              "Sort" : {
                "displayName" : "Sort",
                "identifiesControllerService" : false,
                "name" : "Sort",
                "sensitive" : false
              },
              "use-pretty-printing" : {
                "displayName" : "Pretty Print Results JSON",
                "identifiesControllerService" : false,
                "name" : "use-pretty-printing",
                "sensitive" : false
              },
              "Limit" : {
                "displayName" : "Limit",
                "identifiesControllerService" : false,
                "name" : "Limit",
                "sensitive" : false
              },
              "get-mongo-send-empty" : {
                "displayName" : "Send Empty Result",
                "identifiesControllerService" : false,
                "name" : "get-mongo-send-empty",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.mongodb.GetMongo",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "114c28a5-04e9-374e-a944-c6642429352e",
            "identifier" : "ad9b133f-fafa-3d60-9633-da0ef6f43854",
            "instanceIdentifier" : "ebb0f708-be4b-3208-d14b-8a47cf6267d5",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : 8.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "ff783e85-9084-3754-bc45-c4ea0071958b",
          "instanceIdentifier" : "d31cbf5a-9a3b-3453-b507-33b3df977248",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3502.0,
            "y" : 1009.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "7beb4583-e557-386f-a562-0e12446760b1",
          "instanceIdentifier" : "b532c1e0-bf3e-3bfe-0b0e-a15512eaab73",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 470.0,
            "y" : 1009.9999887188117
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n  \"header\": {\n    \"transactionId\": \"dd080b8b-8e14-45e7-942f-12f8a5da31a4\",\n    \"applicationId\": \"Prueba4\",\n    \"hostname\": null,\n    \"user\": null,\n    \"transactionDate\": \"2019-07-22T12:45:05\"\n  },\n  \"data\": [\n    {\n      \"dependencia\": \"0020\",\n      \"producto\": \"895808\",\n      \"estado\": null,\n      \"precioVenta\": \"699000\",\n      \"signo\": null,\n      \"cantidad\": 6.5,\n      \"fechaHora\": \"20190722124505\"\n    },\n    {\n        \"dependencia\": \"0028\",\n        \"producto\": \"895808\",\n        \"estado\": null,\n        \"precioVenta\": \"699000\",\n        \"signo\": null,\n        \"cantidad\": 0,\n        \"fechaHora\": \"20190722124505\"\n      },\n      {\n        \"dependencia\": \"0027\",\n        \"producto\": \"28267\",\n        \"estado\": null,\n        \"precioVenta\": \"699000\",\n        \"signo\": null,\n        \"cantidad\": 6.5,\n        \"fechaHora\": \"20190722124505\"\n      },\n      {\n        \"dependencia\": \"0001\",\n        \"producto\": \"895808\",\n        \"estado\": null,\n        \"precioVenta\": \"699000\",\n        \"signo\": null,\n        \"cantidad\": 6.5,\n        \"fechaHora\": \"20190722124505\"\n      }\n  ]\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "5 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "6b0b215e-f753-3276-bd7b-95f27262a126",
          "instanceIdentifier" : "20b10797-14a9-33f6-39db-39a892c3d7e3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1915.9999353348403,
            "y" : 1011.0
          },
          "properties" : {
            "Commit Offsets" : "true",
            "group.id" : "group1",
            "bootstrap.servers" : "localhost:9092",
            "topic_type" : "names",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "honor-transactions" : "true",
            "message-header-encoding" : "UTF-8",
            "max.poll.records" : "10000",
            "security.protocol" : "PLAINTEXT",
            "sasl.token.auth" : "false",
            "Communications Timeout" : "60 secs",
            "topic" : "topic-basic-test",
            "separate-by-key" : "false",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "latest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "Commit Offsets" : {
              "displayName" : "Commit Offsets",
              "identifiesControllerService" : false,
              "name" : "Commit Offsets",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "0f682880-e7ba-3e64-9811-780bbda91702",
          "instanceIdentifier" : "9974013c-263c-316a-6b3a-7f69efcf95d1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 5790.0,
            "y" : 1217.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-6-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "c6003ee4-5f37-3a34-8b94-820656a51f1a",
          "instanceIdentifier" : "a201a2dd-c2c0-3b20-dd1f-ea2148ae922f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishKafka_2_6",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1166.0,
            "y" : 1009.9999887188117
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "localhost:9092",
            "sasl.mechanism" : "GSSAPI",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "use-transactions" : "true",
            "acks" : "all",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "topic-basic-test",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "77d39681-c655-33cb-8017-dabdfedd3018",
          "instanceIdentifier" : "9606876c-0451-3ad8-3e57-44a078ab98d1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2187.9999353348403,
            "y" : 131.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b1dfbf5d-73dd-31f3-8e23-fffe90aa35da",
          "instanceIdentifier" : "61e79f16-acb2-3e9a-f907-ed49f834a772",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4315.99993533484,
            "y" : 691.0
          },
          "properties" : {
            "jolt-spec" : "[\n\t{\n\t\t\"operation\": \"default\",\n\t\t\"spec\": {\n\t\t\t\"MessageHeader\": {\n\t\t\t\t\"Organization\": \"GRUPO EXITO\",\n\t\t\t\t\"MessageType\": \"InventoryEvent\",\n\t\t\t\t\"User\": null,\n\t\t\t\t\"Source\": \"${header:jsonPath('$.applicationId')}\",\n\t\t\t\t\"Target\": \"MAO\",\n\t\t\t\t\"CreationDateTime\": \"${now()}\",\n\t\t\t\t\"ValidUpTo\": null,\n\t\t\t\t\"TransmissionNumber\": \"${header:jsonPath('$.transactionId')}\",\n\t\t\t\t\"ReferenceID\": \"${header:jsonPath('$.transactionId')}\",\n\t\t\t\t\"ExternalRefID\": null,\n\t\t\t\t\"FlexFields\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"Name\": null,\n\t\t\t\t\t\t\"Value\": null\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"SupplyEvent\": [\n\t\t\t\t{\n                    \"ItemId\": \"${data:jsonPath('$.producto')}\",\n                    \"LocationId\": \"${data:jsonPath('$.dependencia')}\",\n                    \"Quantity\": \"${data:jsonPath('$.cantidad')}\",\n\t\t\t\t\t\"ExernalSequenceNumber\": \"${UUID()}\",\n\t\t\t\t \t\"SupplyTypeId\": \"On Hand Available\",\n\t\t\t\t\t\"ReferenceTypeId\": null,\n\t\t\t\t\t\"ReferenceDetailId\": null,\n\t\t\t\t\t\"ETA\": null,\n\t\t\t\t\t\"FlexFields\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Name\": null,\n\t\t\t\t\t\t\t\"Value\": null\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t},\n\t{\n\t\t\"operation\": \"shift\",\n\t\t\"spec\": {\n\t\t\t\"MessageHeader\": \"MessageHeader\",\n\t\t\t\"SupplyEvent\": \"SupplyEvent\"\n\t\t}\n\t},\n\t{\n\t\t\"operation\": \"modify-overwrite-beta\",\n\t\t\"spec\": {\n\t\t\t\"SupplyEvent\": {\n\t\t\t\t\"*\": {\n\t\t\t\t\t\"Quantity\": \"=toInteger\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "true",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "009036e5-d563-3f25-979f-afe587df9f72",
          "instanceIdentifier" : "95ac4882-3d50-3126-80af-09494249978c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2822.0,
            "y" : 1281.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "7bb0b08a-6bab-355e-9bb9-e0c619a00339",
          "instanceIdentifier" : "69af9fd2-06a1-380a-acd3-319643d0ae53",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3691.9999353348403,
            "y" : 403.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-amqp-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "ca58721e-b053-370e-882c-4318293b7ecf",
          "instanceIdentifier" : "bcf727c8-bd49-3a33-0312-5d9c51e724e9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishAMQP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 5086.0,
            "y" : 1001.9999887188117
          },
          "properties" : {
            "header.separator" : ",",
            "Routing Key" : "test.nifi",
            "AMQP Version" : "0.9.1",
            "ssl-context-service" : "136bbe48-7668-318d-0000-000000000000",
            "Virtual Host" : "yxapvbfk",
            "User Name" : "yxapvbfk",
            "ssl-client-auth" : "NONE",
            "Exchange Name" : "test-topic",
            "Port" : "5671",
            "cert-authentication" : "false",
            "Host Name" : "rat-01.rmq2.cloudamqp.com"
          },
          "propertyDescriptors" : {
            "header.separator" : {
              "displayName" : "Header Separator",
              "identifiesControllerService" : false,
              "name" : "header.separator",
              "sensitive" : false
            },
            "Routing Key" : {
              "displayName" : "Routing Key",
              "identifiesControllerService" : false,
              "name" : "Routing Key",
              "sensitive" : false
            },
            "AMQP Version" : {
              "displayName" : "AMQP Version",
              "identifiesControllerService" : false,
              "name" : "AMQP Version",
              "sensitive" : false
            },
            "Virtual Host" : {
              "displayName" : "Virtual Host",
              "identifiesControllerService" : false,
              "name" : "Virtual Host",
              "sensitive" : false
            },
            "User Name" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "User Name",
              "sensitive" : false
            },
            "ssl-client-auth" : {
              "displayName" : "Client Auth",
              "identifiesControllerService" : false,
              "name" : "ssl-client-auth",
              "sensitive" : false
            },
            "Exchange Name" : {
              "displayName" : "Exchange Name",
              "identifiesControllerService" : false,
              "name" : "Exchange Name",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "Brokers" : {
              "displayName" : "Brokers",
              "identifiesControllerService" : false,
              "name" : "Brokers",
              "sensitive" : false
            },
            "cert-authentication" : {
              "displayName" : "Use Client Certificate Authentication",
              "identifiesControllerService" : false,
              "name" : "cert-authentication",
              "sensitive" : false
            },
            "Host Name" : {
              "displayName" : "Host Name",
              "identifiesControllerService" : false,
              "name" : "Host Name",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.amqp.processors.PublishAMQP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "b8bfb686-2b31-3ff4-8852-62070694531b",
          "instanceIdentifier" : "cd390613-8202-3451-629a-fefb6a644ecc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 5790.0,
            "y" : 1001.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "337506b6-688b-3baa-b4a9-f00443b9277a",
          "instanceIdentifier" : "5059257e-2309-36b1-da2b-9c0b3c4f696a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4315.99993533484,
            "y" : 355.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "fa116fef-1399-3925-913f-c71b1bd9f0d0",
          "instanceIdentifier" : "871950c6-7162-3f6d-50f3-fb095043e755",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2323.9999353348403,
            "y" : 499.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "cantidad" : "${cantidad:gt('0')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "cantidad" : {
              "displayName" : "cantidad",
              "identifiesControllerService" : false,
              "name" : "cantidad",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "5d5487e5-0dd1-3305-a7a8-3fa0232c9b7b",
          "instanceIdentifier" : "4f01a03c-7af6-3ca5-05e0-9d67237f4e6a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 910.0,
            "y" : 1329.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "deeaed65-484f-3363-b615-083b5d1751e4",
          "instanceIdentifier" : "e76d79d2-d321-39a3-d614-d20f60894f5a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4323.99993533484,
            "y" : 1451.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "581643a9-4f89-3dff-9d73-9ce0f17c737f",
          "instanceIdentifier" : "e130af42-22fc-3d19-9654-0275eba6d5f1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1446.0,
            "y" : 1329.9999887188117
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "06fb69a6-963c-3386-8e97-1eed3f38a8f1",
          "instanceIdentifier" : "9ef39b9d-cefb-30c1-5191-702a56406cd1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2795.9999353348403,
            "y" : 219.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-gcp-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "56be2f25-ff3f-3a9f-9494-b9b8a58d5920",
          "identifier" : "0e2e1234-19ae-35a1-85da-10ad7bbf66ac",
          "instanceIdentifier" : "3cc9fbdc-5d31-3dea-a0d1-1569d0ee0f40",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishGCPubSub",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4323.99993533484,
            "y" : 1155.0
          },
          "properties" : {
            "GCP Credentials Provider Service" : "c706a387-616f-38e0-b5e9-ed62225d88b4",
            "gcp-pubsub-publish-batch-size" : "15",
            "gcp-pubsub-topic" : "EXIT_INB_XINT_SupplyEventQueueMSGType_GCPQ",
            "gcp-project-id" : "exit-mif-stg-01"
          },
          "propertyDescriptors" : {
            "GCP Credentials Provider Service" : {
              "displayName" : "GCP Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "GCP Credentials Provider Service",
              "sensitive" : false
            },
            "gcp-pubsub-publish-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "gcp-pubsub-publish-batch-size",
              "sensitive" : false
            },
            "gcp-pubsub-topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "gcp-pubsub-topic",
              "sensitive" : false
            },
            "gcp-project-id" : {
              "displayName" : "Project ID",
              "identifiesControllerService" : false,
              "name" : "gcp-project-id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.gcp.pubsub.PublishGCPubSub",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}